<a class="btn btn-outline-primary" i18n href="/student-register">Add</a>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th i18n scope="col" colspan="2">Full Name</th>
      <th i18n scope="col" colspan="2">Gender</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td colspan="2">{{student.firstName}} {{student.lastName}}</td>
      <td colspan="2">{{student.gender}}</td>
      <td>
        <button type="button" class="btn">
          <span class="fa fa-trash" aria-hidden="true"></span>
        </button>
        <a class="btn btn-info" href="student-management/{{student.id}}">
          <span class="fa fa-info" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
