<dl>
  <dt i18n>School Year</dt>
  <dd>{{schoolYear.year}}</dd>
  <dt i18n>Is Current Year</dt>
  <dd>{{schoolYear.isCurrent}}</dd>
  <dt i18n>Start Date</dt>
  <dd>{{schoolYear.startDate | date:'fullDate'}}</dd>
  <dt i18n>End Date</dt>
  <dd>{{schoolYear.endDate | date:'fullDate'}}</dd>
</dl>

<button i18n class="btn btn-primary" (click)="setAsCurrent()" *ngIf="!schoolYear.isCurrent">Set As Current Year</button>

<button i18n class="btn btn-primary" data-toggle="modal" data-target="#coursesModal">Assign Courses</button>

<p class="h6 my-3"><u><ng-container i18n>Courses associated to this school year:</ng-container></u></p>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col" i18n>Name</th>
      <th scope="col" i18n>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of assignedCourses">
      <td>{{course.course.name}}</td>
      <td>
        <button type="button" class="btn btn-outline-danger btn-space" (click)="removeCourse(course.id)">
          <span class="fa fa-trash" aria-hidden="true"></span>
          <span class="small" i18n>  Delete Association</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal" id="coursesModal">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 i18n class="modal-title">Assign Courses</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <span i18n class="bold">Available Courses</span>
              <ul class="list-group" style="height:300px;overflow: scroll;">
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let course of availableCourses">{{course.name}}
                  <button type="button" class="btn btn-primary" (click)="addCourse(course)">
                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                  </button>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <span i18n class="bold">Assigned Courses</span>
              <ul class="list-group" style="height:300px;overflow: scroll;">
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let assigCourse of assignedCourses">{{assigCourse.course.name}}
                  <button type="button" class="btn btn-primary" (click)="removeCourse(assigCourse.id)">
                    <span class="fa fa-trash" aria-hidden="true"></span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button i18n type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
