<div class="form-group">
  <label for="title" >Title</label>
  <input type="text" class="form-control" id="title"  placeholder="Title" value="Data" required
    [(ngModel)]="annInfo.title" [ngModelOptions]="{standalone: true}">
</div>
<div class="form-group">
  <label for="details" >Details</label>
  <input type="text" class="form-control" id="details"  placeholder="Details" value="Data" required [(ngModel)]="annInfo.details"
    [ngModelOptions]="{standalone: true}">
</div>
<div class="form-group">
  <label for="publishedDate" >Publication Date</label>
  <input type="date" class="form-control" id="publishedDate" placeholder="Birth Date" required [(ngModel)]="annInfo.publishedDate"
    [ngModelOptions]="{standalone: true}">
</div>
<div class="form-group">
  <label for="duration" >Duration in days</label>
  <input type="number" class="form-control" id="duration" placeholder="days" required [(ngModel)]="annInfo.duration"
    [ngModelOptions]="{standalone: true}">
</div>
