<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 i18n class="modal-title">Add Course</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <app-course-add-admin [courseInfo]="newCourse"></app-course-add-admin>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="saveCourse(); c('Close click');">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<button i18n class="btn btn-lg btn-outline-primary" (click)="open(content)">Add</button>
<div class="form-group">
  <label for="search" i18n>Search by course name</label>
  <input type="text" (keyup.enter)="search()" class="form-control" id="search" i18n-placeholder placeholder="Search" value="Data" required [(ngModel)]="searchText"
    [ngModelOptions]="{standalone: true}">
</div>
<table class="table">
  <tr class="thead-dark">
    <th scope="col" i18n>Course Name</th>
    <th scope="col" i18n>Is Archived</th>
    <th scope="col" i18n>Details</th>
    <th scope="col"></th>
  </tr>
  <tr *ngFor="let course of courseList">
    <td>{{course.name}}</td>
    <td>{{course.isArchived}}</td>
    <td>{{course.details}}</td>
    <td>
      <button type="button" class="btn">
        <span class="fa fa-trash" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</table>
