<ng-template #content1 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Parent Invite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <input type="email" placeholder="example@gmail.com"  [(ngModel)]="parentInfo.email">
                    <button type="submit" class="btn btn-primary" (click)="inviteParent()">Invite</button>
                </div>
                <app-user-invite-list [users]="parents"></app-user-invite-list>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content1)">Invite Parent</button><br>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Parent Invite</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <input type="email" placeholder="parent@gmail.com"  [(ngModel)]="teacherInfo.email">
                    <button type="submit" class="btn btn-primary" (click)="inviteTeacher()">Invite</button>
                </div>
                <app-user-invite-list [users]="teachers"></app-user-invite-list>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Invite Teacher</button><br>

<a href="/student-register">Register Student</a><br>
<a href="/student-list">Student List</a>
