<dl>
  <dt i18n>Teacher</dt>
  <dd>{{teacher.firstName}}</dd>
  <dt i18n>Details</dt>
  <dd>{{teacher.details}}</dd>
</dl>
<div>
  <button i18n class="btn btn-primary" data-toggle="modal" data-target="#coursesModal">Assign Courses</button>
  <div class="courseAvatar" *ngFor="let course of assignedCourses">
    <img src="http://html.codedthemes.com/mash-able/dark/assets/images/avatar-5.png" alt="Snow"> {{course.course.firstName}}
    <button type="button" style="background-color: #647ea8; padding: 1px 10px; top: 87%; left: 6%;" class="btn btn-primary btn-sm"
      (click)="removeStudent(course.id)" data-toggle="confirmation" data-btn-ok-label="Continue" data-btn-ok-class="btn-success"
      data-btn-ok-icon-class="material-icons" data-btn-ok-icon-content="check" data-btn-cancel-label="Stoooop!" data-btn-cancel-class="btn-danger"
      data-btn-cancel-icon-class="material-icons" data-btn-cancel-icon-content="close" data-title="Is it ok?" data-content="This might be dangerous">
      <span class="fa fa-trash fa-xs" style="font-size: 15px;" aria-hidden="true"></span>
    </button>
  </div>
</div>