<dl>
  <dt i18n>First Name</dt>
  <dd>{{student?.firstName}}</dd>
  <dt i18n>Last Name</dt>
  <dd>{{student?.lastName}}</dd>
</dl>

<button i18n class="btn btn-primary" data-toggle="modal" data-target="#coursesModal">Assign Courses</button>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" i18n>Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of assignedCourses">
      <td>{{course.course.name}}</td>
      <td>
        <button type="button" class="btn" (click)="removeCourse(course.id)">
          <span class="fa fa-trash" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button i18n class="btn btn-primary" data-toggle="modal" data-target="#parentsModal">Assign Parent</button>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" i18n>Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let parent of aParents">
      <td>{{parent.parent.firstName}}</td>
      <td>
        <button type="button" class="btn" (click)="removeParent(parent.id)">
          <span class="fa fa-trash" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal" id="coursesModal">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 i18n class="modal-title">Assign Courses</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <span i18n>Available Courses</span>
              <button type="button" class="btn btn-primary" (click)="addAllCourses()">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="fa fa-angle-right" aria-hidden="true"></span>
              </button>
              <ul class="list-group" style="height:300px;overflow: scroll;">
                <li style="height: 70px;" class="list-group-item d-flex justify-content-between align-items-center"
                 *ngFor="let course of availableCourses">{{course.name}}
                  <button type="button" class="btn btn-primary" (click)="addCourse(course)">
                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                  </button>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <span i18n>Assigned Courses</span>
              <ul class="list-group" style="height:300px;overflow: scroll;">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                 *ngFor="let assigCourse of assignedCourses">{{assigCourse.course.name}}
                  <button type="button" class="btn btn-primary" (click)="removeCourse(assigCourse.id)">
                    <span class="fa fa-trash" aria-hidden="true"></span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="parentsModal">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 i18n class="modal-title">Assign Parents</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <span i18n>Available Parents</span>
              <button type="button" class="btn btn-primary" (click)="addAllCourses()">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="fa fa-angle-right" aria-hidden="true"></span>
              </button>
              <ul class="list-group" style="height:300px;overflow: scroll;">
                <li style="height: 70px;" class="list-group-item d-flex justify-content-between align-items-center"
                 *ngFor="let parent of availableParents">{{parent.email}}
                  <button type="button" class="btn btn-primary" (click)="addParent(parent)">
                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                  </button>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <span i18n>Assigned Parents</span>
              <ul class="list-group" style="height:300px;overflow: scroll;">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                 *ngFor="let aParent of aParents">{{aParent.parent.firstName}}
                  <button type="button" class="btn btn-primary" (click)="removeParent(aParent.id)">
                    <span class="fa fa-trash" aria-hidden="true"></span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button i18n type="button" class="close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
