
 <div class="row">
   <div class="col-6">
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" width="80%" alt="">
    </div>
    <div class="col-6">
      <dl>
        <dt i18n>First Name</dt>
        <dd>{{userInfo.firstName}}</dd>
        <dt i18n>Last Name</dt>
        <dd>{{userInfo.lastName}}</dd>
        <dt i18n>Gender</dt>
        <dd>{{userInfo.gender}}</dd>
        <dt i18n>Details</dt>
        <dd>{{userInfo.details}}</dd>
      </dl>
    </div>
 </div>
