<dl>
  <dt i18n>First Name</dt>
  <dd>{{studentParentRel?.firstName}}</dd>
  <dt i18n>Last Name</dt>
  <dd>{{studentParentRel?.lastName}}</dd>
</dl>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col" i18n>Course Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of assignedCourses">
      <td>{{course.course.name}}</td>
    </tr>
  </tbody>
</table>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col" i18n>Registered Date</th>
      <th scope="col" i18n>Subject</th>
      <th scope="col" i18n>Is Delayed</th>
      <th scope="col" i18n>Is Absent</th>
      <th scope="col" i18n>Title</th>
      <th scope="col" i18n>historyDetails</th>
      <th scope="col" i18n>Observation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let follow of followUps">
      <td>{{follow.registeredDate | date}}</td>
      <td>{{follow.subject}}</td>
      <td>{{follow.isDelayed}}</td>
      <td>{{follow.isAbsent}}</td>
      <td>{{follow.title}}</td>
      <td>{{follow.historyDetails}}</td>
      <td>{{follow.observation}}</td>
    </tr>
  </tbody>
  <tfoot>
    <app-pagination [pages]="pages" [currentPage]="currentPage" baseUrl="./children/{{studentParentRelId}}"
      [rangePages]="rangePages"></app-pagination>
  </tfoot>
</table>
