<nav class="navbar navbar-expand-sm navbar-dark bg-info p-0">
  <div class="container">
    <a href="index.html" i18n class="navbar-brand" style="font-weight:bold;">SCHOOL EVENTS</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown mr-3">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"></i> Welcome Brad
          </a>
          <div class="dropdown-menu">
            <a href="profile.html" class="dropdown-item">
              <i class="fa fa-user-circle"></i> Profile
            </a>
            <a href="settings.html" class="dropdown-item">
              <i class="fa fa-gear"></i> Settings
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a href="login.html" class="nav-link">
            <i class="fa fa-user-times"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="my-2" name="div-spacer"></div>
