<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" i18n>Email</th>
      <th scope="col" i18n>Full Name</th>
      <th scope="col" i18n>Gender</th>
      <th scope="col" i18n>Verified</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teacher of teachers">
      <td>{{teacher.email}}</td>
      <td>{{teacher.teachers ? teacher.teachers.firstName : ''}} {{teacher.teachers ? teacher.teachers.lastName : ''}}</td>
      <td>{{teacher.teachers ? teacher.teachers.gender : ''}}</td>
      <td>{{teacher.emailVerified ? 'Yes' : 'No'}}</td>
      <td>
        <button type="button" class="btn">
          <span class="fa fa-trash" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" i18n>Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" i18n>Next</a>
        </li>
      </ul>
    </nav>
  </tfoot>
</table>
