<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" i18n>Email</th>
      <th scope="col" i18n>Full Name</th>
      <th scope="col" i18n>Gender</th>
      <th scope="col" i18n>Verified</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teacher of teachers">
      <td>{{teacher.email}}</td>
      <td>{{teacher.teachers ? teacher.teachers.firstName : ''}} {{teacher.teachers ? teacher.teachers.lastName : ''}}</td>
      <td>{{teacher.teachers ? teacher.teachers.gender : ''}}</td>
      <td>{{teacher.emailVerified ? 'Yes' : 'No'}}</td>
      <td>
        <button type="button" class="btn">
          <span class="fa fa-trash" aria-hidden="true"></span>
        </button>
        <a class="btn btn-info" href="teacher-management/{{teacher.teachers?.id}}">
          <span class="fa fa-info" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <app-pagination [pages]="pages" [currentPage]="currentPage" baseUrl="teacher-management" [rangePages]="rangePages"></app-pagination>
  </tfoot>
</table>
