<dl>
  <dt i18n>First Name</dt>
  <dd>{{student?.firstName}}</dd>
  <dt i18n>Last Name</dt>
  <dd>{{student?.lastName}}</dd>
</dl>

<button i18n class="btn btn-primary" data-toggle="modal" data-target="#followUpModel">Add Follow UP</button>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" i18n>Registered Date</th>
      <th scope="col" i18n>Subject</th>
      <th scope="col" i18n>Is Delayed</th>
      <th scope="col" i18n>Is Absent</th>
      <th scope="col" i18n>Title</th>
      <th scope="col" i18n>historyDetails</th>
      <th scope="col" i18n>Observation</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let follow of followUps">
      <td>{{follow.registereddDate | date}}</td>
      <td>{{follow.subject}}</td>
      <td>{{follow.isDelayed}}</td>
      <td>{{follow.isAbsent}}</td>
      <td>{{follow.title}}</td>
      <td>{{follow.historyDetails}}</td>
      <td>{{follow.observation}}</td>
      <td></td>
    </tr>
  </tbody>
</table>


<div class="modal" id="followUpModel">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 i18n class="modal-title">Create parent</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="title" i18n>Title</label>
                <input type="text" class="form-control" id="title" i18n-placeholder placeholder="Title" value="Data" required [(ngModel)]="newFollowUp.title"
                  [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <label for="subject" i18n>subject</label>
                <input type="text" class="form-control" id="subject" i18n-placeholder placeholder="Subject" value="Data" required [(ngModel)]="newFollowUp.subject"
                  [ngModelOptions]="{standalone: true}">
              </div>
              
              <div class="form-group">
                <label for="observation" i18n>observation</label>
                <input type="text" class="form-control" id="observation" i18n-placeholder placeholder="Observation" value="Data" required [(ngModel)]="newFollowUp.observation"
                  [ngModelOptions]="{standalone: true}">
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button i18n type="button" class="btn" (click)="saveFollowUp()" data-dismiss="modal">Save</button>
        <button i18n type="button" class="close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>