  /* avatarContainer needed to position the button. Adjust the width as needed */
.avatarContainer {
  position: relative;
  width: 65px;
}

.avatarContainer img {
  width: 65px;
  height: auto;
}

.avatarContainer .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.avatarContainer .btn:hover {
  background-color:transparent;
}