<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SCHOOL EVENTS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/todays" routerLinkActive="active" class="nav-link">Today Events
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/incoming" routerLinkActive="active">Incoming Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gestion-current" routerLinkActive="active">Current Gestion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-management" routerLinkActive="active">User Management</a>
        </li>
        <li class="nav-item" *ngIf="!authSvc.isAuthenticated">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="authSvc.isAuthenticated">
          <a class="nav-link" routerLink="/login" (click)="logout()" routerLinkActive="active">Logout</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Events" aria-label="Search"> +
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Events</button>
      </form>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>