<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SCHOOL EVENTS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/todays" routerLinkActive="active" class="nav-link">Events
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gestion-current" routerLinkActive="active">Current Gestion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-management" routerLinkActive="active">Users</a>
        </li>
        <li class="nav-item" *ngIf="!authSvc.isAuthenticated()">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" *ngIf="authSvc.isAuthenticated()">
        </li>
      </ul>
      <div class="avatarContainer">
        <img style="" src="https://pbs.twimg.com/profile_images/936609529932013568/2DoABAma_400x400.jpg" alt="Snow">
        <button style="border-radius: 50%;" type="button" data-placement="bottom" class="btn btn-info" data-toggle="popover" title="Teacher settings" data-content='<a class="nav-link" href="/teacher-profile" routerLinkActive="active">Account Seetings</a> <br> <a class="nav-link" href="/logout" routerLinkActive="active">Logout</a>'>User</button>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>