<form #registerForm="ngForm" (ngSubmit)="onLogin()">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" required [(ngModel)]="loginInfo.email" [ngModelOptions]="{standalone: true}">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" required [(ngModel)]="loginInfo.password" [ngModelOptions]="{standalone: true}">
  </div>

  <button type="submit" class="btn btn-primary">Sign In</button>
</form>