<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" i18n>Email</th>
      <th scope="col" i18n>Full Name</th>
      <th scope="col" i18n>Gender</th>
      <th scope="col" i18n>Verified</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let parentUser of parentUsers">
      <td>{{parentUser.email ? parentUser.email: ''}}</td>
      <td>{{parentUser.parents ? parentUser.parents.firstName : ''}} {{parentUser.parents ? parentUser.parents.lastName : ''}}</td>
      <td>{{parentUser.parents ? parentUser.parents.gender : ''}}</td>
      <td>{{parentUser?.emailVerified ? 'Yes' : 'No'}}</td>
      <td>
        <button type="button" class="btn" *ngIf="parentUser.parents">
          <span class="fa fa-trash" aria-hidden="true"></span>
        </button>
        <a class="btn btn-info" href="parent-management/{{parentUser.parents.id}}"  *ngIf="parentUser.parents">
          <span class="fa fa-info" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <app-pagination [pages]="pages" [currentPage]="currentPage" baseUrl="parent-management" [rangePages]="rangePages"></app-pagination>
  </tfoot>
</table>
