<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Full Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Verified</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let parentUser of parentUsers">
      <td>{{parentUser.email}}</td>
      <td>{{parentUser.parents ? parentUser.parents.firstName : ''}} {{parentUser.parents ? parentUser.parents.lastName : ''}}</td>
      <td>{{parentUser.parents ? parentUser.parents.gender : ''}}</td>
      <td>{{parentUser.emailVerified ? 'Yes' : 'No'}}</td>
      <td>
        <button type="button" class="btn">
          <span class="fa fa-trash" aria-hidden="true"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>