<div class="form-group">
  <label for="oldPassword" i18n>Old Password</label>
  <input type="password" class="form-control" id="oldPassword" i18n-placeholder placeholder="enter your old password" value="Data" required
    [(ngModel)]="oldPassword" [ngModelOptions]="{standalone: true}">
</div>

<div class="form-group">
  <label for="newPassword" i18n>New Password</label>
  <input type="password" class="form-control" id="newPassword" i18n-placeholder placeholder="enter a new password" value="Data" required
    [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}">
</div>

<div class="form-group">
  <label for="newPasswordRepeat" i18n>Repeat Password</label>
  <input type="password" class="form-control" id="newPasswordRepeat" i18n-placeholder placeholder="repeat new password" required>
</div>
<button i18n type="submit" class="btn btn-primary" (click)="changePassword()">Save</button>
