/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

.bold {
  font-weight:bold;
}

.btn-space {
  margin-right: 5px;
}

/* Overrides list-group-item from Bootstrap */
.list-group-item {
  padding-top: 5px;
  margin-top: 1px;
  padding-bottom: 5px;
  margin-bottom: 1px;
}


