<dl>
  <dt i18n>Course</dt>
  <dd>{{course.course?.name}}</dd>
  <dt i18n>Details</dt>
  <dd>{{course.course?.details}}</dd>
</dl>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" i18n>Student Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.student ? student.student.firstName : ''}} {{student.student ? student.student.lastName : ''}}</td>
      <td>
        <a class="btn btn-info" href="teacher-student-home/{{student.student?.id}}">
          <span class="fa fa-info" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>